:host ::ng-deep td.highlight b {
  color: #34d399 !important;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007ad9;
  padding: 0.5rem 1rem;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 500;
}

.navbar a.active {
  text-decoration: underline;
}

.navbar button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #e04344;
}
